.inp_with_icon__container {
    position: relative;
    width: 682px;
    height: 48px;
}

.inp_with_icon {
    width: 682px;
    height: 48px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #545f71;
    cursor: pointer;
    position: absolute;
    z-index: 0;
}

.inp_with_icon::placeholder {
    color: #9ba5b7;
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 622px;
    height: 22px;
}

.icon {
    cursor: pointer;
    position: absolute;
    left: 646px;
    top: 14px;
    z-index: 10;
}
