.btn {
    width: 282px;
    height: 40px;
    border-radius: 7px;
    background-color: #6d5bfd;
    padding: 9px 67px;
    border: 0;
    cursor: pointer;

    font-family: Ubuntu, serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: white;
}
