.btn {
    padding: 5px 20px;
    border-radius: 32px;
    background-color: #15BCCA;
    border: none;
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
