.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container > h1 {
    font-size: 28px;
    font-family: Ubuntu, sans-serif;
}

.peoples {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peoples > div {
    margin-bottom: 10px;
}

.peoples > p {
    font-size: 28px;
    font-family: Ubuntu, sans-serif;
}

.add_btn {
    font-size: 40px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add_btn:hover {
    box-shadow: 0 0 10px 0 #00000060;
    transition: 0.4s, all;
    background-color: #6d5bfd;
    color: white;
}
