.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
    width: 20%;
    min-height: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.form > input {
    margin-top: 10px;
}

.form > button {
    margin-top: 10px;
    width: 105%;
}
