.aside {
    width: 25vh;
    margin: 68px 0 0 56px;
    position: fixed;

}

.top_part {
    margin-bottom: 370px;
}

.bottom_part {
    border-top: 1px solid #EEF1F4;
}


@media (max-width: 768px) {

    .aside {
        margin: 0;
        position: absolute;
        top: 60px;
        left: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 0 #00000040;
        border-radius: 10px;
    }

    .top_part {
        margin-bottom: 100px;
    }
}

@media (width: 768px) {

    .aside {
        top: 80px;
        left: 15px;
    }

    .top_part {
        margin-bottom: 200px;
    }

}

