.link {
    width: 20%;
    height: 70px;
    background: white;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    border: 1px solid #545f71;
    cursor: pointer;
}

.link_text {
    color: black;
}

.link__wrapper {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_btn {
    transition: 0.4s all;
    cursor: pointer;
    color: black;
}

.add_btn:hover {
    color: greenyellow;
}

.link:hover {
    box-shadow: 0 0 10px 0 #00000040;
    transition: 0.4s all ;
}
