.container__change_password_form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.container__change_password_form p {
    font-family: Ubuntu, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #545F71;
    margin: 0;
}

.container__change_password_form h2 {
    font-family: Ubuntu, serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #545F71;
    margin-bottom: 40px;
}