.container > div:nth-of-type(1) {
    margin-left: 400px;
    margin-top: -720px;
    width: 40vh;
}

.container > div:nth-of-type(2) {
    margin-left: 400px;
    margin-top: 52px;
}

@media (min-width: 375px) and (max-width: 424px) {

    .container > div:nth-of-type(1) {
        margin: 90px auto 0 20px;
    }

    .container > div:nth-of-type(2) {
        margin-left: 50px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    .container > div:nth-of-type(1) {
        margin: 90px auto 0 50px;

    }

    .container > div:nth-of-type(2) {
        margin: 25px 0 0 70px;
    }
}

@media (width: 768px) {

    .container > div:nth-of-type(1) {
        margin: 90px 0 0 200px;
    }

    .container > div:nth-of-type(2) {
        margin: 50px 0 0 0;
    }

}

@media (width: 1024px) {

    .container > div:nth-of-type(1) {
        margin-left: 275px;
    }

    .container > div:nth-of-type(2) {
        margin-left: 270px;
    }
}