@media (min-width: 320px) {
    .container {
        background-color: #0A0A0A;
    }

    .reviews {
        margin-top: 20px;
    }
}

@media (min-width: 1024px) {
    .reviews {
        width: 70%;
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: space-between;
    }
}