@media (min-width: 320px) {
    .page {
        width: 100%;
    }
}

@media (min-width: 720px) {
    .page {
        display: flex;
    }

    .info_block {
        margin-left: 20px;
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .page {
        padding: 20px;
    }
}
