.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}