.user_settings_input {
    width: 328px;
    height: 48px;
    border: 1px solid #545F71;
    border-radius: 6px;
    padding-left: 12px;
}

.user_settings_input::placeholder {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #9BA5B7;
}