@font-face {
    src: url("../shared/fonts/Inter-Regular.otf");
}
@font-face {
    src: url("../shared/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    src: url("../shared/fonts/Raleway-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
