.container {
    width: 45vh;
    height: 150px;
    text-align: center;
}

.container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 28px;
}
