.container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}

.container > h1 {
    font-size: 28px;
    font-family: Ubuntu, sans-serif;
}

.peoples {
    display: flex;
    justify-content: space-between;
}

.add_btn {
    width: 15%;
    height: 50px;
    display: flex;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid #545f71;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #6d5bfd;
    color: white;
}

.add_btn:hover {
    box-shadow: 0 0 10px 0 #00000060;
    transition: 0.4s all;
}