.checkbox {
    position: relative;
    display: flex;
    cursor: pointer;
}

.checkbox input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: fixed;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #545f71;
}

.checkbox input:checked ~ .checkmark {
    background-color: #545f71;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    position: relative;
    content: "";
    display: none;
    left: 5px;
    top: -1px;
    width: 8px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox__text {
    margin: 3px 0 0 13px;
    font-size: 14px;
    font-family: Ubuntu, serif;
    color: #808080;
}