@media (min-width: 320px) {
    .header {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 85px;
        background-color: #202020;
        bottom: 0;
        top: auto;
        width: 100%;
    }
}
