@media (min-width: 320px) {
    .container {
        display: flex;
        flex-direction: column;
        background-color: #202020;
        margin-top: 20px;
    }

    .block_text {
        display: none;
        color: #FFF;
        font-family: "Ubuntu", serif;
        font-size: 20px;
    }

    .block_list {
        display: flex;
        gap: 10px;
        overflow-x: scroll;
    }
}

@media (min-width: 768px) {

    .block_text {
        display: block;
    }

    .container {
        padding: 20px;
        border-radius: 5px;
        margin: 20px auto 0 auto;
        width: 75%;
    }

    .block_list {
        overflow-x: visible;
        padding: 15px;
        flex-wrap: wrap;
    }
}